<head>
    <title>User Detail</title>    
    <body>  
        <table align="center" style="width: 100%">
            <tr>
                <td style="width: 80%;"></td>
                <td align="right" style="width: 20%;">
                        Welcome <%=data[0].uname%></td>
            </tr>
            <tr>
                <td style="width: 80%;"></td>
                <td align="right" style="width: 20%;">
                    <a href="/logout">logout</a></td>
            </tr>
            <tr>
                <td colspan="2" align="center"></td>
            </tr>            
            <tr>
                <td style="width: 85%;"></td>
                <td style="width: 15%;" align="left">
                    <a href="/edit">Edit Profile</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <table align="center" style="width: 90%;">                                   
                        <tr>
                            <td align="right" style="width: 45%; vertical-align: baseline;"><h3>Name : -</h3></td>
                            <td align="left" style="width: 45%; vertical-align: baseline;"><%=data[0].uname%></td>
                        </tr>
                        <tr>
                            <td align="right" style="width: 45%; vertical-align: baseline;"><h3>Mobile No : -</h3></td>
                            <td align="left" style="width: 45%; vertical-align: baseline;"><%=data[0].mobileno%></td>
                        </tr>
                        <tr>
                            <td align="right" style="width: 45%; vertical-align: baseline;"><h3>Emailid : -</h3></td>
                            <td align="left" style="width: 45%; vertical-align: baseline;"><%=data[0].emailid%></td>
                        </tr>
                        <tr>
                            <td align="right" style="width: 45%; vertical-align: baseline;"><h3>Address : -</h3></td>
                            <td align="left" style="width: 45%; vertical-align: baseline;"><%=data[0].address%></td>
                        </tr>
                        <tr>
                            <td align="right" style="width: 45%; vertical-align: baseline;"><h3>Reg Date : -</h3></td>
                            <td align="left" style="width: 45%; vertical-align: baseline;"><%=data[0].ondate%></td>
                        </tr>
                    </table> 
                </td>
            </tr>
        </table>                             
    </body>
</head>